.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar a{color:white;text-decoration: none;margin-right:15px;}
.mat-toolbar .link:hover{color:grey;text-decoration: none;}
// .mat-toolbar .mat-icon {height: 17px;margin-left:-5px;}
.mat-toolbar .mat-icon:hover {color:grey;}